@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:500,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; font-size: 12px;
}



a:hover{text-decoration: none;}

.icon-text{ font-size: 14px; color:#707070; align-content:center; line-height: 30px;} 
.bottom_line{border-bottom: solid 1px #F0F0EE; margin-bottom: 15px; }
.navbar-toggler-icon{color: #000;}


.set_head{background: #EEEEEE !important; margin-top: 60px; padding-bottom: 20px; padding-top: 20px;}

/* header  */
header{  background:#fff; box-shadow: 0px 3px 6px #00000029; height: 80px;}
.headertop{margin-Top:80px; background: #EEEEEE;}

/* Navigation link  */
.navbar  .nav-link{color: #333333 !important; font-weight:bold; font-size: 14px; letter-spacing: 1px; font-family: 'Roboto', sans-serif;}
.navbar{padding: 1rem 1rem 0;}


/* page heading  */
.page-heading{font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 18px; letter-spacing: 0.36px;  color: #333333;}

/* main container */
.container{background: #fff;}


/* product list ----------------------------- */
/* card  */
.card-deck{flex-direction: row; font-family: 'Roboto', sans-serif;}
.list_card{width: 180px;margin: 0 5px; padding:5px; border: solid 1px #D8D8D8; }
.list_card .card-body{padding:5px;}
.list_card .card-title{font-size:12px; font-weight:bold; color:#4D4D4D;}
.list_card .card-price{color:#E01A1A; letter-spacing: 0.28px; font-size: 14px; }


/* single product View --------------------- */

/* product breadcrumb */
.prohead .breadcrumb{padding: 0; background: #fff; font-size: 11px; color: #333333;}
.breadcrumb-item.active{ text-decoration: underline; color: #333333;}

/* product left side */
/* main heading */
.prohead h2{font-size: 20px; color: #333333; font-weight: bold;}

/* DESCRIPTION  heading and picture */
.proleft h3 b{font-size: 16px; color:#E01A1A; border-bottom: solid 2px #E01A1A; padding-bottom: 5px; }
.proleft picture{display: block; width: 100%; text-align: center; border: solid 1px #B9B9B9;}

/* product right side */
.proright {border: solid 1px #F0F0EE; padding:0px;}
.proright dt{color:#707070; font-size: 12px; font-weight: normal;}
.proright dd{color:#333333; font-size:14px; margin-bottom: 10px;}
.proright .price{color:#E01A1A; font-size: 20px; font-weight:bold;}
.proright hr{border-color:#F0F0EE;margin-top: 0;}

.user{margin-top:3px;}
.user i{font-size: 40px; color:#b9b9b9;}
.user h5{color:#333333; font-size:14px;}
.user .media-body{color:#707070; font-size: 12px;} 

.contact span{font-size: 11px;}
.contact .btn-outline-danger{line-height: 1.3; margin-bottom: 10px; color: #E01A1A;}
.contact .btn-outline-danger:hover{color: #ffffff; background: #E01A1A; }

/* similar product list  */
.similar h3{display: block;font-size: 16px;width: 100%;color: #707070;}
.similar .list_card{width: 130px; margin-left: 0; }
.similar .card-title{font-size: 10px; color: #707070; font-weight: 400;}
.similar .card-price{font-size: 13px;}
.similar .card-deck{margin: 0;}

/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
  .list_card{width: 46%;}

  .similar{margin-bottom: 30px;}
  .similar .list_card{width: 48%;}

  .contact{ position: fixed; left: 0; bottom: 0;background: #fff;z-index: 9;height: 47px; width: 100%; box-shadow: 1px 4px 11px 5px #c3c3c3;}
  .contact .btn-outline-danger{font-size: 14px; padding-left: 5px;padding-right: 5px;margin-right: 5px;}
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .list_card{width: 170px;}

  .similar{margin-bottom: 0;}
  .similar .list_card{width: 165px;}

  .contact{ position: relative;bottom: 0;background:none;z-index: 9;height: auto; width: 100%; box-shadow: none;}
  .contact .btn-outline-danger{ font-size: 16px; margin-right: 0;}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .list_card{width: 165px;}
  .similar .list_card{width: 165px;}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .list_card{width: 180px;}
  .similar .list_card{width: 123px;}
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .list_card{width: 180px;}
  .similar .list_card{width: 133px;}
 }

